In [1]:
import pandas as pd

In [2]:
file = "election_data.csv"

In [3]:
election_data = pd.read_csv(file)

In [4]:
election_data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
votertotal = len(election_data["Voter ID"].unique())

In [6]:
votertotal

3521001

In [7]:
total_votes = election_data['Candidate'].value_counts()
total_votes

#read unique values in function
#convert this into dataframe

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [8]:
df = pd.DataFrame(total_votes)
df.head()

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [9]:
#reference names

In [10]:
votes_percent = total_votes/votertotal
votes_percent

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [11]:
totalvotes = total_votes.copy().tolist()
totalvotes

[2218231, 704200, 492940, 105630]

In [12]:
percentages = votes_percent.copy().tolist()
percentages

[0.6300001050837531,
 0.19999994319797126,
 0.13999996023857988,
 0.02999999147969569]

In [27]:
names = ['Khan','Correy','Li',"O'Tooley"]
names

['Khan', 'Correy', 'Li', "O'Tooley"]

In [28]:
#loop = 1
#for x in range(loop):

In [34]:
#file = 'pypoll.txt'
#with open(file, 'r') as text:
print("Election results")
print("---------------------------")
print("Total votes: " + str(votertotal))
print("---------------------------")
print(names[0] + ": " + "(" + str(round(percentages[0]*100,3))+"%) " + str(totalvotes[0]))
print(names[1] + ": " + "(" + str(round(percentages[1]*100,3))+"%) " + str(totalvotes[1]))
print(names[2] + ": " + "(" + str(round(percentages[2]*100,3))+"%) " + str(totalvotes[2]))
print(names[3] + ": " + "(" + str(round(percentages[3]*100,3))+"%) " + str(totalvotes[3]))
print("---------------------------")
print("Winner: " + names[0])
print("---------------------------")
#lines = text.read()
#print(lines)

Election results
---------------------------
Total votes: 3521001
---------------------------
Khan: (63.0%) 2218231
Correy: (20.0%) 704200
Li: (14.0%) 492940
O'Tooley: (3.0%) 105630
---------------------------
Winner: Khan
---------------------------

In [48]:


text = 'Election results\n---------------------------'
text = text + "\nTotal votes: " + str(votertotal) + "\n---------------------------\n"
text = text + names[0] + ": " + "(" + str(round(percentages[0]*100,3))+"%) " + str(totalvotes[0]) +'\n'
text = text + names[1] + ": " + "(" + str(round(percentages[1]*100,3))+"%) " + str(totalvotes[1]) +'\n'
text = text + names[2] + ": " + "(" + str(round(percentages[2]*100,3))+"%) " + str(totalvotes[2]) +'\n'
text = text + names[3] + ": " + "(" + str(round(percentages[3]*100,3))+"%) " + str(totalvotes[3]) +'\n'
text = text + "---------------------------\n"
text = text + "Winner: " + names[0] + '\n'
text = text + "---------------------------\n"
savefile= open('pypollout.txt','w')
savefile.write(text)
savefile.close()